body {
	padding: 20px 30px;
}

form label {
	display: block;
	width: 100%;
	text-align: center;
}

form label span {
	display: inline-block;
	vertical-align: top;
	width: 120px;
}

form label input,
form label textarea {
	display: inline-block;
	width: 220px;
	max-width: 220px;
	margin-left: 10px;
}

.row,
.modal-title {
	text-align: center;
}

#table-header {
	background-color: #ccc;
	font-size: 125%;
	font-weight: bold;
}
