#wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 10px 15px;
	background-color: #eee;
}

#filter-menu {
	text-align: center;
	background-color: #666;
	padding: 10px 15px;
	margin-left: -25px;
	margin-right: -25px;
	margin-bottom: 25px;
}

#filter-menu select {
	display: inline-block;
	width: 30%;
	margin: 0;
	margin-left: 1%;
}

#filter-menu button {
	width: 10%;
	min-width: 90px;
	padding: 10px 15px;
	margin: 0;
	margin-left: 1%;
}
#filter-menu .error-message {
	display: none;
	margin: 15px -15px 0 -15px;	
}

.red {
	color: #f00;
}

.row {
	text-align: center;
	padding-top: 1.5%;
	border-bottom: 1px solid #999;
}

.row:last-child {
	border-bottom: 0;
}

.row p {
	margin-bottom: 0;
}

.row .name {
	width: 40%;
}

.row .git {
	width: 15%;
}

.row .courses {
	width: 40%;
}

.row .available {
	width: 5%;
}

.hovered-row {
	background-color: rgba(255, 100, 15, 0.35);
}

@media only screen and (max-width: 960px) {
	#filter-menu select {
		width: 45%;
		margin-bottom: 1%;
	}

	#filter-menu button {
		width: 15%;
	}

}

@media only screen and (max-width: 680px) {
	#wrapper {
		width: 100%;
	}
}